<footer id="footer" class="footer-area">
  <div class="footer-top container">
    <div class="row">
      <!--div class="widget col-xs-12 col-sm-4">
        <h4 class="widget-title">Categories</h4>
        <ul class="entries links links-2-cols">
          <li><a href="{{site.baseurl}}/projects/">Projects</a></li>
          <li><a href="{{site.baseurl}}/cities/">Cities</a></li>
          <li><a href="{{site.baseurl}}/participate/">Participate</a></li>
          <li><a href="{{site.baseurl}}/mentoring/">Fellowship Program</a></li>
          <li><a href="{{site.baseurl}}/open-source/">Open Source</a></li>
          <li><a href="{{site.baseurl}}/events/">Events</a></li>
          <li><a href="{{site.baseurl}}/apps/">Apps</a></li>
        </ul>
      </div></.col-3-->

      <!--div class="clearfix visible-xs"></div-->
      <div class="col-xs-12">
        <div>
          <a href="{{site.baseurl}}/">Home</a>
          <a href="{{site.baseurl}}/about/">About</a>
          <a href="{{site.baseurl}}/contact/">Contact</a>
          <a href="{{site.baseurl}}/resources/">Resources</a>
          <a href="{{site.baseurl}}/blog/">Blog </a>
        </div>
        <div id="logos" class="col-lg-12">
          <a href="https://www.gfdrr.org/" target="_blank"><img src="{{site.baseurl}}/img/GFDRR_Primary-Logo_BW-Shade.png" width="130" height="auto" alt="gfdrr-logo"></a>
          <img src="{{site.baseurl}}/img/WorldBankLogo-nobackground.png" width="200" height="auto" alt="worldbank-logo">
        </div>
      </div><!--/.col-3-->

      <!--div class="widget col-xs-6 col-sm-2">
        <h4 class="widget-title">Follow Us</h4>
        <ul class="entries links">
          <li><a href="{{site.baseurl}}/contact/"><i class="icon-facebook-sign icon-2x"></i> Facebook</a></li>
          <li><a href="{{site.baseurl}}/contact/"><i class="icon-twitter-sign icon-2x"></i> Twitter</a></li>
          <li><a href="{{site.baseurl}}/contact/"><i class="icon-google-plus-sign icon-2x"></i> Google Plus</a></li>
          <li><a href="{{site.baseurl}}/contact/"><i class="icon-linkedin-sign icon-2x"></i> Linkedin</a></li>
        </ul>
      </div></.col-3-->

      <!--div class="clearfix visible-xs"></div-->
      <!--div class="widget col-xs-12 col-sm-4">
        <h4 class="widget-title">Subscribe</h4>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="subscribeEmail" class="col-lg-2 control-label">EMAIL</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="subscribeEmail" placeholder="Your Email">
            </div>
          </div>
        </form>
      </div></.col-3-->
    </div><!--row.-->
  </div>

  <div class="footer-bottom">
    <div class="container aligncenter">
      <p>&copy;2015 by <a href="{{site.baseurl}}/about/">Code for Resilience</a>.<p>
    </div>
  </div>
</footer>
