<header class="site-header">
  <h1 class="sr-only">Code for Resilience</h1>
    <nav id="header" class="header-navbar" role="navigation">
    <div class="header-navbar-inner">
      <div id="brand" class="navbar-brand container">
        <a href="{{site.baseurl}}/" rel="bookmark">
        <img src="{{site.baseurl}}/img/new-logo-400.png" data-src="{{site.baseurl}}/img/new-logo-400.png" data-src-retina="{{site.baseurl}}/img/new-logo-retina.png" width="220" height="auto" alt="">
          <noscript>
            <img src="{{site.baseurl}}/img/new-logo-400.png" alt="">
          </noscript>
        </a>
      </div>
      <div class="header-byline">
        <h4>Bridging communities for disaster resilience</h4>
      </div>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="glyphicon glyphicon-align-justify"></i></a>
      <!--ul class="nav nav-icons">
        <li>
          <a href="#" class="btn-icon" data-toggle=".header-navbar-inner" data-toggle-class="search-toggled-in">
            <span class="search-toggled-out-icon glyphicon glyphicon-search"></span>
            <span class="search-toggled-in-icon glyphicon glyphicon-remove"></span>
          </a>
        </li>
      </ul-->
      <div class="search-wrapper js-stoppropagation">
        <div class="search-wrapper-inner">
          <form>
            <input type="text" value="" placeholder="search ... ">
            <button class="btn-icon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div>
      </div>
      <ul id="js-navigation-menu" class="nav nav-pages">
        <li ><a href="{{site.baseurl}}/">Home</a></li>
        <li ><a href="{{site.baseurl}}/about/">About</a></li>
        <li ><a href="{{site.baseurl}}/contact/">Contact</a></li>
        <li ><a href="{{site.baseurl}}/resources/">Resources</a></li>
        <li ><a href="{{site.baseurl}}/blog/">Blog</a></li>
        <li ><a href="https://twitter.com/Code4Resilience"><i class="fa fa-twitter fa-2x"></i></a></li>
      </ul>
    </div>
  </nav>

<section id="banner">
  <div>
        <div>
          <img src="{{site.baseurl}}/img/{{ page.banner_img }}" data-src="{{site.baseurl}}/img/{{ page.banner_img }}" data-src-retina="{{site.baseurl}}/img/frontpage-photo.jpg" alt="flooding">
        </div>
  </div>
</section>

</header>
