<head>
    <link rel="shortcut icon" href="http://www.codeforresilience.org/profiles/opencivic/themes/cat_man_do/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta charset="utf-8">
    <title>Code for Resilience</title>
    <meta name="description" content="">
    <meta property="og:image" content="http://www.codeforresilience.org/profiles/opencivic/themes/cat_man_do/C4R_sq_logo.png"/>
    <meta property="og:title" content="Code for Resilience">

    <!-- Mobile Devices Viewport Resset-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="{{site.baseurl}}/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{site.baseurl}}/vendor/font-awesome/css/font-awesome.min.css">
    <!--[if IE 8]>
      <link rel="stylesheet" href="{{site.baseurl}}/vendor/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link rel="stylesheet" href="{{site.baseurl}}/vendor/prettyPhoto/css/prettyPhoto.css">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.4.0/ol.min.css" />

    <!-- base layout styling -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/base.css">

    <!-- components styling -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/components.css">

    <!-- template colorschemes -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/colors.css">

    <script src="{{site.baseurl}}/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  </head>
