<!-- Overview Section -->

<a name="overview" class="anchor"></a>
<div id="overviewSection" class="content row section bg-primary">

  <div class="col-md-12 bg-base col-lg-12 col-xl-12">

    <div class="section-title ribbon ribbon-highlight">
      <a href=''>Mission</a>
    </div>

    <div class="text-section">

<div class="overview-header">
        <h5 class="overview-headline">Code for Resilience (CfR) is a global initiative to strengthen community resilience to natural disasters by connecting disaster risk management experts with local technology communities.</h5>
      </div>

    <div class="section-title ribbon ribbon-highlight">
      <a href=''>About</a>
    </div>
      <article class="entry style-single type-post">

        <div class="entry-content indented">
        <blockquote class="pulled-left">
            <p>Natural disasters can hamper economic growth, create human suffering, and negatively and disproportionately affect the poor.</p>
            <p>Without appropriate preparedness measures, the extent and impact of economic and social damage associated with disasters will only worsen.</p>
          </blockquote>
          <p>
In the first decade of the 21st century, natural disasters affected the lives of over two billion people—more than a quarter of the world’s population.  The impact of these disasters set the global economy back by nearly US$1 trillion.
 </p><p>
In recent years public and private sector actors have started numerous partnership with the tech community to spur civic engagement and collaboratively develop software or hardware tools that can improve communities’ resilience to natural disasters. These initiatives often use open data sets and open source software to link stakeholders and provide the tools to collect, analyze, share, and improve risk data for better decision-making. 
 </p><p>
Code for Resilience (CfR), a multi-year project of the World Bank’s Global Facility for Disaster Reduction and Recovery (GFDRR) in collaboration with wide ranging global partners from the public, private, community, and the civic tech field aims at building communities’ resilience to natural disasters through innovative uses of information and communication technologies (ICTs).
 </p><p>
Through a series of virtual and in-person activities, Code For Resilience focuses on creating locally relevant software and hardware tools that address disaster risk management (DRM) challenges. The resulting “civic technologies”—or ICT-based tools built by, with, and for local communities—will help improve communities’ ability to identify and reduce natural disaster risks, and to better prepare for and respond to major natural disasters.
          </p>
          <figure class="entry-thumbnail">
            <!--img src="{{site.baseurl}}/img/2014activities.png" data-src="{{site.baseurl}}/img/2014activities.png" data-src-retina="{{site.baseurl}}/img/2014activities@2x.png" width="500" height="auto" alt="2014 activites"-->
          </figure>

          <div class="gallery bg-page flushed-left">

            <!-- <h4 class="gallery-title">Gallery</h4> -->

            <div class="row">

              <div class="col-xs-3 col-sm-2">
                <a href="http://gfdrr.org" title="Image 1" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="{{site.baseurl}}/img/gfdrr_logo.png" data-src="{{site.baseurl}}/img/gfdrr_logo.png" data-src-retina="{{site.baseurl}}/img/gfdrr_logo.png" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 1" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 1" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 2" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 3" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 4" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

            </div><!--/.row-->

          </div><!--/.gallery-->

        </div>

      </article>

    </div>
  </div><!--/.col-md-12.col-lg-12.col-xl-12-->

</div>
<!-- End Overview Section -->
