<!-- Overview Section -->

<a name="overview" class="anchor"></a>
<div id="overviewSection" class="content row section bg-primary">

  <div class="col-md-12 bg-base col-lg-12 col-xl-12">

    <div class="section-title ribbon ribbon-highlight">
      <a href=''>Mission</a>
    </div>

    <div class="text-section">

<div class="overview-header">
        <h5 class="overview-headline">Code for Resilience is a global initiative strengthening resilience to natural disasters by partnering disaster risk management experts with local technology communities.</h5>
      </div>

    <div class="section-title ribbon ribbon-highlight">
      <a href=''>About</a>
    </div>
      <article class="entry style-single type-post">

        <div class="entry-content indented">
        <div class="entry-content-wrapper">
          <blockquote class="pulled-left">
              <p>Natural disasters can hamper economic growth, create human suffering, and negatively and disproportionately affect the poor.</p>
              <p>Without appropriate preparedness measures, the extent and impact of economic and social damage associated with disasters will only worsen.</p>
            </blockquote>
            <p>
  In the first decade of the 21st century, natural disasters affected the lives of over two billion people—more than a quarter of the world’s population. The impact of these disasters disproportionally affected vulnerable communities, and together set the global economy back by nearly US$1 trillion.

Code for Resilience strengthens the resilience of at-risk communities to natural disasters through innovative uses of information and communication technologies. Through trainings, code sprints, and fellowships, Code for Resilience works in partnership with local actors to build capacity and refine tools that improve local disaster risk management.

Launched in 2014, Code for Resilience is a multi-year project of the World Bank’s Global Facility for Disaster Reduction and Recovery. In its first year, Code for Resilience engaged over 1,000 technologists across eleven code sprint events in eight countries. In 2015 Code for Resilience is increasing its focus on building the capacity of individuals trained in both technology and disaster risk management through the introduction of the Code for Resilience fellowship program.

Find a list of civic technology tools developed by and with local commutnies here. Find a map of past and future Code for Resilience events here.software and hardware tools that address disaster risk management (DRM) challenges. The resulting “civic technologies”—or ICT-based tools built by, with, and for local communities—will help improve communities’ ability to identify and reduce natural disaster risks, and to better prepare for and respond to major natural disasters.
            </p>
          </div>
          <figure class="entry-thumbnail">
            <!--img src="{{site.baseurl}}/img/2014activities.png" data-src="{{site.baseurl}}/img/2014activities.png" data-src-retina="{{site.baseurl}}/img/2014activities@2x.png" width="500" height="auto" alt="2014 activites"-->
          </figure>

      </article>

    </div>
  </div><!--/.col-md-12.col-lg-12.col-xl-12-->

</div>
<!-- End Overview Section -->
