<!-- Overview Section -->

<a name="overview" class="anchor"></a>
<div id="overviewSection" class="content row section bg-primary">

  <div class="col-md-12 bg-base col-lg-12 col-xl-12">

    <div class="section-title ribbon ribbon-highlight">
      <a href="">Mission</a>
    </div>

    <div class="text-section">

      <div class="overview-header">
        <h5 class="overview-headline">Code for Resilience (CfR) is a global initiative to strengthen community resilience to natural disasters by connecting disaster risk management experts with local technology communities.</h5>
      </div>

      <article class="entry style-single type-post">

        <div class="entry-content indented">
        <blockquote class="pulled-left">
            <p>Natural disasters can hamper economic growth, create human suffering, and negatively and disproportionately affect the poor.</p>
            <p>Without appropriate preparedness measures, the extent and impact of economic and social damage associated with disasters will only worsen.</p>
          </blockquote>
          <p>
            Through a series of virtual and in-person activities, CfR curates collaboration around the development of relationships, ideas, and tools (both software and hardware) that improve community resilience to natural disasters. The resilience continuum includes the ability to identify, reduce the risks from, and respond to major natural disasters.
          </p>
          <p>
            In 2014 CfR received problem statements and app ideas, then encouraged coders to develop their ideas into mature applications over a three-month online mentoring period, followed by collaboration with local governments to implement and scale up these tools.
          </p>
          <figure class="entry-thumbnail">
            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/2014activities.png" data-src="/img/2014activities.png" data-src-retina="/img/2014activities@2x.png" width="500" height="auto" alt="2014 activites">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="/img/2014activities.png" alt="2014 activities">
            </noscript>
          </figure>
          <h3>C4R Fellowship 2015</h3>
          <p>
            Building on the momentum established in 2014 through 10 hackathon events in 8 countries that engaged over 1,000 participants, this year Code for Resilience will introduce fellowship opportunities to further promote the use of open data and build a sustained community of open source software developers for collecting, analyzing, sharing, and improving risk data for better decision-making.
          </p>
          <p>
            Founding Partners of Code for Resilience are the World Bank’s Global Facility for Disaster Reduction and Recovery (GFDRR) and ICT Unit (TWICT), and Code for Japan. Global Partners provide support across Code for Resilience activities and events, and Supporting Partners provide support to individual city events. All partners are listed at the bottom of this page.</p>
          <p>
            Interested in becoming a Code for Resilience partner? Send an expression of interest and your contact information to codeforresilience@gmail.com.
          </p>

          <div class="gallery bg-page flushed-left">

            <!-- <h4 class="gallery-title">Gallery</h4> -->

            <div class="row">

              <div class="col-xs-3 col-sm-2">
                <a href="http://gfdrr.org" title="Image 1" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="/img/gfdrr_logo.png" data-src="/img/gfdrr_logo.png" data-src-retina="/img/gfdrr_logo.png" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 1" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="../img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 1" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="../img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 2" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="../img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 3" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="../img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

              <div class="col-xs-3 col-sm-2">
                <a href="http://placehold.it/460x460" title="Image 4" class="thumbnail" data-rel="prettyPhoto[gallery]">

                  <!-- to disable lazy loading, remove data-src and data-src-retina -->
                  <img src="../img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" alt="">

                  <!--fallback for no javascript browsers-->
                  <noscript>
                    <img src="http://placehold.it/80x80" alt="">
                  </noscript>

                </a>
              </div><!--/.col-xs-2.col-sm-2-->

            </div><!--/.row-->

          </div><!--/.gallery-->

        </div>

      </article>

    </div>
  </div><!--/.col-md-12.col-lg-12.col-xl-12-->

</div>
<!-- End Overview Section -->
