        <li class="full-subnav-wrapper">
          <a href="#projects" data-toggle="li">Projects</a>

          <div class="row subnav-wrapper subnav-tabbed">

            <ul class="col-md-2 col-sm-2 subnav-tabbed-tabs alignright">

              <li class="active"><a href="#tabAll">All </a></li>
              <li><a href="#tabNotebook">2014</a></li>
              <li><a href="#tabSmartphone">2015</a></li>

            </ul>

            <div class="col-md-10 col-sm-10 subnav-tabbed-panels">

              <div id="tabAll" class="subnav-tabbed-panel active">

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

              </div>
              <div id="tabNotebook" class="subnav-tabbed-panel">

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>


                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>


                </article>

              </div>
              <div id="tabSmartphone" class="subnav-tabbed-panel">

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

                <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                  <figure class="entry-thumbnail">
                    <a href="{{site.baseurl}}/">
                      <img src="{{site.baseurl}}/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                      <noscript>
                        <img src="http://placehold.it/230x230" alt="">
                      </noscript>
                    </a>
                  </figure>

                  <h3 class="entry-title"><a href="{{site.baseurl}}/">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

                </article>

              </div>

            </div>

          </div>

        </li>

