<script src="{{site.baseurl}}/vendor/jquery-1.10.1.min.js"></script>
  <!--
  <script src={{site.baseurl}}/ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{site.baseurl}}/vendor/jquery-1.10.1.min.js"><\/script>')</script>
-->

  <script src="{{site.baseurl}}/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="{{site.baseurl}}/vendor/prettyPhoto/jquery.prettyPhoto.js"></script>

  <script src="{{site.baseurl}}/vendor/jquery.unveil.min.js"></script>

  <script src="{{site.baseurl}}/js/main.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.4.0/ol.min.js"></script>

  <script>
      var center = [80, 18];
      var zoom = 2;
      var width = $('#map').width();
      if(width < 992) {
        center = [35, 18];
      }
      if(width < 750) {
        center = [25, 18];
      }
      if(width < 620) {
        center = [20, 18];
      }
      if(width < 550) {
        center = [30, 28];
        zoom = 1;
      }
      var map = new ol.Map({
        interactions : ol.interaction.defaults({mouseWheelZoom: false, doubleClickZoom :false, dragPan: false}),
        layers: [
          new ol.layer.Tile({
            source: new ol.source.Stamen({
              layer: 'toner-lite'
            })
          })
        ],
        renderer: 'canvas',
        target: 'map',
        view: new ol.View({
          center: ol.proj.transform(center, 'EPSG:4326',
           'EPSG:3857'),
          zoom: zoom,
          maxZoom: zoom,
          minZoom: zoom
        }),
        controls: []
      });

      var iconFeatures = [
        new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([-72.2844278,18.5790371], 'EPSG:4326',
           'EPSG:3857')),
          name: 'Haiti',
          title: 'Improving Early Warning Systems',
          description: 'Haiti is highly exposed to multiple natural hazards and 96% of its population lives at risk. The 7.0 magnitude earthquake that hit Haiti in January 2010 killed up to 230,000 people, and caused an estimated US$8 billion in damages and losses. <br/><br/>In 2015 ...read more...',
        }),
        
        
        new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([37.3314474,-6.4274148], 'EPSG:4326',
           'EPSG:3857')),
          name: 'Tanzania',
          description: 'Tanzania Description'
        }),
        
        
        new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([80.7003428, 7.8772157], 'EPSG:4326',
           'EPSG:3857')),
          name: 'Sri Lanka',
          title: 'Real-time decision-making capability',
          description: 'In Sri Lanka, CfR is partnering with the World Bank’s South Asia Region (SAR) OpenDRI project to work toward empowering decisions-makers with better information and planning tools to increase resiliency. <br/><br/>In 2015 ...read more...',
        }),
        
        new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([1.2167, 6.1167], 'EPSG:4326',
           'EPSG:3857')),
          name: 'Togo',
          title: 'TBD',
          description: 'Togo Description.',
        }),
        
        new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([28.9550, 41.0136], 'EPSG:4326',
           'EPSG:3857')),
          name: 'Istanbul, Turkey',
          title: '<a href="{{ https://understandrisk.org/event/ur2016/"> Understanding Risk (UR) 2016</a></: Code for Resilience side event',
          description: 'Event Title: Open source tools to bridge the knowledge gaps in disaster risk data collections and WMO standards – HydroMet innovations from the field (Haiti, Togo, Tanzania, Sri Lanka, Indonesia). This session will highlight champion CfR projects that leverage innovations in open source technology for: enhancing hydrological data collection and management; efficiently sharing information according to international standards; feeding HydroMet data into forecast models to minimize flooding and drought risk.',
        }),
        
        
        new ol.Feature({
          geometry: new ol.geom.Point(ol.proj.transform([106.829518,-6.2297465], 'EPSG:4326',
           'EPSG:3857')),
          name: 'Indonesia',
          title: 'Jakarta InaSAFE for DaLA',
          description: 'With a population of more than 8.5 million, Jakarta is a megacity regularly inundated by flooding. To assess impacts post-flood, Damage and Loss Assessments (DaLA) are carried out, which, ideally, are automated. In Jakarta, however, data collection is done manually.<br/><br/>To address this challenge, in 2014 one of the focuses of the coding event was adapting existing open source tools to effectively collect, analyze, and assess the impact from floods using geospatial data.<br/><br/>In 2015 ...read more...',
        })
      ];

      iconFeatures.forEach(function(iFeat) {
          iFeat.setStyle(new ol.style.Style({
          geometry: iFeat.getGeometry(),
          image: new ol.style.Icon(({
            anchor: [0.5, 28],
            anchorXUnits: 'fraction',
            anchorYUnits: 'pixels',
            src: '{{site.baseurl}}/img/icon.png'
          }))
        })
      )});

      var vectorSource = new ol.source.Vector({
        features: iconFeatures,
        projection: 'EPSG:3857'
      });

      var vectorLayer = new ol.layer.Vector({
        source: vectorSource
      });

      map.addLayer(vectorLayer);

      var element = document.getElementById('popup');

      var popup = new ol.Overlay({
        element: element,
        positioning: 'bottom-center',
        stopEvent: false,
        offset: [0,-13],
        style: new ol.style.Style({
          text: new ol.style.Text({
            font: '12px Calibri,sans-serif'
          })
        })
      });
      map.addOverlay(popup);

      var original, first_time = true;

     // display popup on click
      map.on('click', function(evt) {
        var element = popup.getElement();
        var feature = map.forEachFeatureAtPixel(evt.pixel,
            function(feature, layer) {
              return feature;
            });
        if (first_time) {
          original = $('#locations').html();
          first_time = !first_time;
        }
        if (feature) {
          var geometry = feature.getGeometry();
          var coord = geometry.getCoordinates();
          popup.setPosition(coord);
          var hdms = ol.coordinate.toStringHDMS(ol.proj.transform(
             coord, 'EPSG:3857', 'EPSG:4326'));
          $(element).popover('destroy');
          popup.setPosition(coord);
          $(element).popover({
            'placement': 'top',
            'html': true,
            'animation': false,
            'content': '<strong>' + feature.get('name') + '</strong>',
          });
          $(element).popover('show');

         // Map info panel
          if (first_time) {
            original = $('#locations').html();
            first_time = !first_time;
          }
          var infoPanel = '<h3>' + feature.get('name') + '</h3>' +
          '<h4>' + feature.get('title') + '</h4>' +
          '<p>' + feature.get('description') +'</p>';
          $('#locations').html(infoPanel);


        } else {
          $(element).popover('destroy');
          $('#locations').html(original);

        }
      });
  </script>
